<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio</title>
</head>
 <body>

<div class="fondo pb-5">

  <div class="row menu d-flex justify-content-between align-items-center">
      <div class="col-4 d-flex justify-content-start">
        <div class="d-flex align-items-center contac">
          <img class="icon-menu" src="https://cdn-icons-png.flaticon.com/128/5562/5562590.png" alt="">
          <h3>Contacto</h3>
          <div class="info">
            <h4>Contacto</h4>
            <hr>
            <p>3012020462</p>
            <p>stiven45155@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-4 text-center">
        <p class="animation">Dayan Steven Suarez Lopez</p>
      </div>
      <div class="col-4 text-center d-flex justify-content-end">
        <img class="icon-menu animation" src="https://img.icons8.com/?size=64&id=52539&format=png" alt="">
        <img class="icon-menu animation" src="https://img.icons8.com/?size=64&id=dSnah6CSCxRG&format=png" alt="">
        <img class="icon-menu animation" src="https://img.icons8.com/?size=64&id=laVIsJnTtYoj&format=png" alt="">
      </div>

  </div>

  <div class="mb-5">
    <div class="row justify-content-center">
      <div class="row">
        <img class="avatar" src="https://mattfarley.ca/img/mf-avatar.svg" alt="">
      </div>

      <div class="row justify-content-center">
        <div class="frace">
          <p class="text-center">
            "gracias a los avances del desarrollo del software los sueños e ideas se pueden convertir en relaidad"
          </p>
        </div>
      </div>

      <div class="row ">
        <div class="description col-lg-6 col-md-12 col-sm-12">
          <img class="img" src="https://media.licdn.com/dms/image/D4E12AQHlgB-MNwJuvw/article-cover_image-shrink_720_1280/0/1694282866727?e=2147483647&v=beta&t=lDc8TiSgqc3TvGvgeMMUgGK2tQYHYtkmAiDDd8EIw8U" alt="">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 description p-3">
          <h4 class="text-center">Soy Steven</h4>
          <hr class="mb-3 mt-3">
          <p>Un desarrollador de software en el campo FrondEnd y BackEnd, pero con mas conocimientos en el BackEnd  se manejar diferentes tecnologias como:</p>
          <div class="row con-icon align-items-center text-center justify-content-center">
            <div class="col-md-3 col-sm-3 col-4">
              <div class="move">
                <p class="name-icon">HTML</p>
                <img class="icon-yo" src="https://img.icons8.com/?size=64&id=CMVEhOBzk3Zp&format=png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-4">
              <div class="move">
                <p class="name-icon">CSS</p>
                <img  class="icon-yo" src="https://img.icons8.com/?size=64&id=5cVdiiKKi0vX&format=png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-4">
              <div class="move">
                <p class="name-icon">JavaScript</p>
                <img  class="icon-yo" src="https://img.icons8.com/?size=64&id=laVIsJnTtYoj&format=png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-4">
              <div class="move">
                <p class="name-icon">Angular</p>
                <img  class="icon-yo" src="https://img.icons8.com/?size=64&id=dSnah6CSCxRG&format=png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-4">
              <div class="move">
                <p class="name-icon">TypeScript</p>
                <img  class="icon-yo" src="https://cdn-icons-png.flaticon.com/128/8099/8099537.png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-4">
              <div class="move">
                <p class="name-icon">Bootstrap</p>
                <img  class="icon-yo" src="https://img.icons8.com/?size=64&id=ZMc42tPbG32H&format=png" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-4">
              <div class="move">
                <p class="name-icon">GitHup</p>
                <img  class="icon-yo" src="https://img.icons8.com/?size=64&id=52539&format=png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row sobre justify-content-center m-3">
    <div class="col-3 sobre-mi p-4">
      <h3 class="text-center">Sobre mi</h3>
      <hr class="mb-3 mt-3">
      <p>Me considera una persona que le gustan los desafios, aprender cada dia mas sobre mi y adquirir conociminetos.
        me considero una persona con las siguientes aptitudes:
      </p>
      <ul class="mt-3">
        <li>Autodidacta</li>
        <li>Responsable</li>
        <li>Inovador</li>
        <li>Recurcivo</li>
        <li>Curioso</li>
        <li>Colaborador</li>
        <li>Detallista o perfeccionista</li>
      </ul>
    </div>
    <div class="col-3 sobre-mi p-4">
      <h3 class="text-center">Estudios</h3>
      <hr class="mb-3 mt-3">
      <div class="estudios">
        <p>Tengo estudios en udemy con el curso de Angular y tambien poseo cerificados en el sena:</p>
        <ul class="mt-3">
          <li class="mt-2">Tecnologo:</li>
          <p>Analisis y desarrollo de sistemas de información</p>
          <li class="mt-2">Curso corto:</li>
          <p>
            Desarrollo de aplicaciones con interfaz grafica, manejo
            de eventos, clases y objetos : Java
          </p>
          <li class="mt-2">Curso corto:</li>
          <p>
            Variables y estructuras de control en la programación
            orientada a objetos
          </p>
          <li class="mt-2">Curso corto:</li>
          <p>
            Construcción de bases de datos con MYSQ
          </p>
          <br>
        </ul>
      </div>
    </div>

    <div class="col-3 sobre-mi p-4">
      <h3 class="text-center">Por que contratarme</h3>
      <hr class="mb-3 mt-3">
      <p>
        Soy una persona que quiere empezar en el mundo de desarrollo web estoy en constante aprendimineto y con ideas nuevas, me puedo adaptar facilmente al entorno laboral puedo trabajar en equipo.
        aporto no solamente ideas sino tambien un buen hambiente dentro de la empresa.
      </p>
    </div>
  </div>

  <hr>

  <div class="img-proy">
    <img class="proy-img" src="https://mattfarley.ca/img/hero-devices.svg" alt="">
  </div>

  <div class="proyectos row pb-3">
    <h2 class="text-center">Proyectos</h2>
    <hr class="mt-3 mb-3">
    <div class="row borde justify-content-around">

      <div class="card col-lg-3 col-md-6 col-sm-12 m-2">
          <a href="https://steven45155.github.io/App-Pais/">
          <img src="https://i.postimg.cc/V6fpbMpp/country.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">sitio informativo de paises</h5>
            <p class="card-text">Se trata de un buscador de continentes, pises y ciudades. muestra la información mas importante de los mismos</p>
            <p class="card-text"><small>tecnologias: Html, Css, Bootstrap, Angular, github y Javascript</small></p>
          </div>
        </a>
      </div>

      <div class="card mantenimiento col-lg-3 col-md-6 col-sm-12 m-2">
          <a href="">
          <img src="https://www.bmw-motorrad.co/content/dam/bmwmotorradnsc/common/multiimages/images/models/sport/s1000rr/2018/productstage/s1000rr_2560x1440.jpg.asset.1650953855306.jpg" class="card-img" alt="...">
          <div class="card-img-overlay mantenimiento">
            <h1 class="text-center pt-5">Lo sentimos esta pagina esta en mantenimiento</h1>
          </div>
        </a>
      </div>

      <div class="card col-lg-3 col-md-6 col-sm-11 m-2">
          <a href="https://steven45155.github.io/Gifs-App/">
          <img src="https://i.postimg.cc/qvj4DJrP/gif.png" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Buscardor de gifs</h5>
            <p class="card-text">Es unu sitio el cual podemos buscar diferentes tipos de gifs tien un almacenamiento de información en el Local-Strorage</p>
            <p class="card-text"><small>tecnologias: Html, Css, Bootstrap, Angular, github y Javascript</small></p>
          </div>
        </a>
      </div>

    </div>

  </div>

</div>

</body>
</html>
